exec/*.rda
Rlgt.Rcheck/*
.Rhistory
.RData
Rlgt_0.0-1.tar.gz
Rlgt/man/*
tmp_roxy.Rout
tmp_roxy.R
*Rlgt.so
rclust.out
stanOutput.txt
*.hpp
*.o
*.DS_Store
*.Rproj
.Rproj.user
Rlgt/src/stanExports_*
Rlgt/src/RcppExports.cpp
Rlgt/src/Makevars
Rlgt/R/stanmodels.R